.links {
    #links-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }


    .item-icon {
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 94px;
        padding: 4px;
    }

    .item-icon a {
        color: #0000ff;
        text-decoration: none;
    }

    .item-icon a:hover {
        color: #01014b;
    }

    .btn-icon {
        background: #d5eef1;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        padding: 5px 9px;
        display: flex;
    }

    .text-link i {
        cursor: pointer;
    }

    .on {
        color: #00ff00;
    }

    .on,
    .off {
        font-size: 14px;
        margin-top: -11px;
    }

    .btnEdit {
        color: #ff7300;
    }

    .btnDelete {
        color: #ff0000;
    }
}